
/* Stili dell' header */

.Background{
    background-image: url(../img/pattern.png);
    background-color: rgb(14, 155, 221);
    background-size: 150px;
    padding-top: 30px;
}


#logo{
    width: 170px;
    height: auto;
}

body{
    margin: 0px;
}

.Intestazione{
    color: rgb(140, 138, 135);
}

.Data{
    color: rgb(140, 138, 135);
}




/* Stili del Footer */

.footer{
    color: rgb(140, 138, 135);
}

.Monitor p{
    background-image: url(../img/monitor.jpg);
    width: 300px;
    height: 200px;
    font-size: 30px;
    color: white;
}

.Grafico p{
    background-image: url(../img/graph.jpg);
    width: 300px;
    height: 200px;
    font-size: 30px;
    color: white;
}